/*Main Style*/
main {
  background-color: white;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 4px 0px;
  width: 730px;
  height: 400px;
  position: relative;
  border-radius: 10px;
}
main > h4 {
  padding-left: 40px;
  padding-top: 40px;
  color: rgb(77, 76, 76);
  margin-bottom: 25px;
}
main a {
  text-decoration: none;
  color: rgb(77, 76, 76);
  font-size: 12px;
  position: absolute;
  display: inline-block;
  left: 240px;
  top: 55px;
}
main a + i {
  color: rgb(151, 150, 150);
  position: absolute;
  left: 280px;
  top: 35px;
}
form {
  position: relative;
}
input[class="details"] {
  margin-top: 40px;
  padding-left: 100px;
  border-style: none;
  outline: none;
}
input[type="email"] + i {
  position: relative;
  left: 5px;
  top: 42px;
  color: rgb(151, 150, 150);
}
input[type="password"] + i {
  position: relative;
  left: 20px;
  top: 123px;
  color: rgb(151, 150, 150);
}
form hr {
  margin-top: 5px;
  margin-left: 20px;
  width: 270px;
}
/* form a#sub {
        display: inline-block;
      } */
input[type="button"] {
  background-color: #f8b851;
  height: 40px;
  width: 270px;
  border-radius: 5px;
  border-style: hidden;
  margin-left: 20px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(245, 240, 240);
  cursor: pointer;
}
main div p {
  color: rgb(109, 107, 107);
  position: relative;
  top: 15px;
  left: 20px;
  font-size: 13px;
}
main div a#sign {
  text-decoration: none;
  color: blue;
  position: absolute;
  top: 346px;
  left: 87px;
  font-size: 13px;
}
main img {
  width: 380px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 350px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(253, 166, 107);
}
